h1 {
    color:aqua;
}

p {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    text-decoration: line-through;
}
/*^^my paragraph text will be half size with 0.5em*/

p,h2 {
    color:deeppink;
}
/* ^^this is a grouped selector*/

p a {color:dodgerblue;}
/* ^^descendant selector*/
/* changing color of a tags inside of p tags*/
